.container-account{

    width: 1200px;
    height: 70vh;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 4fr 8fr;
}

.user-img{
    display: flex;
    align-items: center;
}
h1{
    margin: 0;
}

.header{
    width: 100%;
    background-color: #D63031;
    border-radius: 10px;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}


