*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #f4f5f6;
}
a{
    text-decoration: none;
    color:white;
}
.nav{
    height: 64px;
    width: 100%;
    background-color: #D63031;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo>a>h1{
    margin-left: 10px;
    color: white;
    letter-spacing: 3px;
    margin-top: 4px ;
    font-size: 32px;
}

.search>img {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
}
#searchInput {
    border: none;
    color: black;
    font-size: 16px;
    height: 36px;
    outline: none;
    padding: 0px 50px 0px 0px;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

้
.control-group{
    display: flex;
    align-items: center;
    color: white;
}
.control-group>button>a{
    text-decoration: none;
    color: white;
}
.signup-button{
    width: 100px;
    height: 30px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: black solid 1px;
}
.login-button{
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    border: white solid 1px;
}
.signup-button:hover{
    background-color: rgba(255, 255, 255, 0.25);
}
.login-button:hover{
    background-color: rgba(0, 0, 0, 0.4);
}


.control-group>.signup-button>a{
    color:black;
    
}

.control-group>img{
    margin: 0 10px;
}


@media only screen and (max-width: 1200px) {
    .nav{
        padding: 0 30px;
    }
    .search{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 660px) {
    .nav{
        padding: 0 10px;
        width: 100vw;
    }
    .search{
        padding: 0 10px;
        visibility: hidden;
        position: absolute;
    }
    .logo>h1{
        color: white;
        margin-top: 4px ;
        font-size: 24px;
    }
    .logo>img{
        width: 30px;
        height: 30px;
    }
}


.login-pop{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    display: none;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);

}
/* The popup form - hidden by default */
.form-popup {
display: none;
margin: 0 auto;
z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 500px;
    padding: 50px;
    background-color: white;
    position: relative;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 15px;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */

.submit {
    background-color: #D63031;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    font-size: 18px;
    letter-spacing: 4px;
    border-radius: 15px;
    transition-duration: 250ms;
}

.submit:hover {
    width: 80%;
    background-color: #519259;
}



/* Add a red background color to the cancel button */



.container{
    width: 1200px;
    margin: 20px auto;
    padding: 10px;
    
}

.book-container{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.book-group{
    font-size: 20px;
    margin: 0 auto;
}

.book-group>.author{
    color: #636E72;
}

.book-group>button{
    background-color: #D63031;
    color: white;
    border:none;
    border-radius: 15px;
    width: 180px;
    height: 35px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.category{
    width: 1200px;
    margin: 15px auto;
    cursor: pointer;
    display: flex;

}

.category>div>a{
    color: black;
    font-size: 18px;
    
    color: #2D3436;
}



#category-slide{
    color: black;
    width: 141px;
    height: 44px;
    border-radius: 20px;
    border: 2px solid #2D3436;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}


.close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
/* Add styles to the form container */
.form-container {
    min-width: 500px;
    padding: 50px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container .btn {
    background-color: #D63031;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    font-size: 18px;
    letter-spacing: 4px;
    border-radius: 15px;
    transition-duration: 250ms;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

.form-container .btn:hover {
    width: 80%;
    background-color: #519259;
}

.image{
    transition-duration: 250ms;
    cursor: pointer;
}

.image:hover{
    transform: scale(1.1);
    
}



.cart-count{
    width: 55px;
    height: 35px;
    text-align: center;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
}


.cart-container{
    width: 1200px;
    margin: 0 auto;
}

table{
    width: 100%;

}
th{
    text-align: start;
    border-bottom: 2px solid black;
    
}





.search-form{
    width: 350px;
}



.search {
    width: 40%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    background: #FFF;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 12%);
    position: relative;
    border: #8ca3ac solid 1px;
    margin-right: 100px;
    transition-duration: 300ms;
}

.search:hover{
    width: 80%;
}


#falling-snow-canvas{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    
}


