{% extends 'layout.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/account2.css" %}"/>
<div class="container-account">
    <div>
        <div class="user-img">
            <img src={% static "icon/bunny.png" %} alt="" width=50px height=50px>
            <p style="margin-left:15px; font-size:20px; ">{{ user.first_name }} </p>
        </div>
        <hr style="width:60%; margin-top: 20px; margin-bottom: 20px;" >
        <ui style="font-weight:500;">จัดการบัญชีของฉัน </ui>
        <a href="{% url 'account' %}" style="color:#D63031; font-size:20.1px; "> <li > โปรไฟล์ของฉัน </li> </a>
        <ui>คำสั่งซื้อ 
            <a href="{% url 'orderHistory' %}" style="color:black;"> <li > ประวัติการสั่งซื้อ </li> </a>
        </ui>
        
    </div>
    <div >
        <div class="header" >
            <h1 style="color:#fff; font-weight:500;"> จัดการบัญชีของฉัน </h1>
        </div>
        <div class="sub-header" >
            <a  onclick="openEdit()" style="color:#D63031; cursor: pointer;"> <p style="text-align:end; margin-right: 20px;"> แก้ไข </p> </a>
            <h4 style="font-weight:500;" >โปรไฟล์ของฉัน </h4>
            <thead>
                <p> ชื่อผู้ใช้งาน : {{ user.username}}</p>
                <p> อีเมล : {{user.email}}</p>
                <td > ชื่อ : {{ user.first_name}} </td>
                <td class="name" style="margin-left: 20px;"> นามสกุล : {{ user.last_name}} </td>
            </thead> 
            
        </div>
        
    </div>
</div>

<div id="edit" class="edit">
    <img onclick="closeEdit()" class="closebutton" src={% static 'icon/close.svg' %} alt="">
    <h2>
        Edit Account Info
    </h2>
    <form class="formedit" method="post">
        {% csrf_token %}
        <label for="fname">First name</label><br>
        <input class="textinput" type="text" id="fname" name="fname" value="{{ user.first_name}}" style="border-radius:5px;"><br><br>
        <label for="lname">Last name</label><br>
        <input class="textinput" type="text" id="lname" name="lname" value="{{ user.last_name}}"><br><br>
        <label for="email">Email</label><br>
        <input class="textinput" type="text" id="email" name="email" value="{{user.email}}" style="border-radius:5px;"><br><br>
        <input class="summit" type="submit" value="Submit" >
    </form>
</div>
<script src={% static "css/account.js" %}></script>
{% endblock content %}
